version: 2.1

orbs:
  general-platform-helpers: okta/general-platform-helpers@1.8

aliases:

  - &build_steps
    - checkout
    - run: java -version
    - run: ./mvnw clean install -Pci

jobs:

  jdk8:
    docker:
      - image: cimg/openjdk:8.0.322
    environment:
        JVM_OPTS: -Xmx3200m
    steps: *build_steps

  jdk11:
    docker:
      - image: cimg/openjdk:11.0.13
    environment:
        JVM_OPTS: -Xmx3200m
    steps: *build_steps

  jdk17:
    docker:
      - image: cimg/openjdk:17.0.4
    environment:
        JVM_OPTS: -Xmx3200m
    steps: *build_steps

  snyk-scan:
    docker:
      - image: cimg/openjdk:17.0.4
    steps:
      - checkout
      - run: ./mvnw -ntp clean install -Pci -Dmaven.test.skip.exec=true
      - general-platform-helpers/step-load-dependencies
      - general-platform-helpers/step-run-snyk-monitor:
          scan-all-projects: false
          skip-unresolved: false
          run-on-non-main: true
          additional-arguments: "--maven-aggregate-project"

workflows:
  build_and_test:
    jobs:
      - jdk8
      - jdk11
      - jdk17
  # See OKTA-634407
  semgrep:
    jobs:
      - jdk17
      - general-platform-helpers/job-semgrep-prepare:
          name: semgrep-prepare
      - general-platform-helpers/job-semgrep-scan:
          name: "Scan with Semgrep"
          requires:
            - semgrep-prepare
      - general-platform-helpers/job-snyk-prepare:
          name: prepare-snyk
          requires:
            - jdk17
      - snyk-scan:
          name: execute-snyk
          requires:
            - prepare-snyk
